@use "./../../../../public/forms-pages.scss";



form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 90px;
    margin-right: 100px;
}

label{
    font-weight: bolder;
}

button{
    background-color: rgb(51, 51, 241);
    color: white; 
    margin-top: 45px;
    padding: 15px ;
}

.contenedor{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    border-radius: 20px;
    background-color: aliceblue;
    transition: all 0.2s ease;
    box-shadow: 0 8px 25px gray;
    text-align: center;
}

.card:hover{
    transform: translateY(-5px);
}


.error{
    color: red;
    color: var(--color-error);
    font-size: 0.9rem;
    margin-top: 5px;
}


input{
    padding: 10px 20px;
    border-radius: 10px;
    margin: 8px;
    border: 1px solid white;
    width: 250px;
    font-size: 0.95rem;
    transition: 0.2s;
}


input:focus{
    box-shadow: 0 0 5px black;
    border: aquamarine; 
}

html{
    min-height: 100%;
}