<div id="container">
    <div class=card>
    <h1> Registrarse </h1>
    <form #registerForm="ngForm" (ngSumit)="register(registerForm.form.value)">

        <div>

            <label for="email"> Correo electrónico </label>
            <input id="email" name="email" type="email" id="email" ngModel #email="ngModel" required="true" autocomplete="email">
            @if (email.invalid && !email.pristine) {
                <p class="error"> Debe colocar un correo electrónico. </p>
            }
        </div>


        <div>
            <label for="name"> Nombre </label>
            <input id="name" name="name" type="name" id="name" ngModel #name="ngModel">
        </div>



        <div>
            <label for="lastname"> Apellido </label>
            <input id="lastname" name="lastname" type="lastname" id="lastname" ngModel #lastname="ngModel">
        </div>

        <div>
            <label for="password"> Contraseña </label>
            <input id="password" name="password" type="password" ngModel #password="ngModel" minlength="4" autocomplete="new-password">        
            @if (password.invalid && !password.pristine) {
                <p class="error"> Debe colocar una contraseña de al menos 4 caracteres. </p>
            }

        </div>

        <div>
            <label for="password"> Repite la contraseña </label>
            <input id="password2" name="password2" type="password" ngModel #password2="ngModel" minlength="4" autocomplete="new-password">
            @if (password2.invalid && !password2.pristine) {
                <p class="error"> Debe colocar una contraseña de al menos 4 caracteres. </p>
            }
        </div>

        <a routerLink="/login"><button [disabled]="isLoading || registerForm.invalid" class="button"> Iniciar sesión </button> </a>
        @if (isLoading) {
            <app-spinner></app-spinner>
        }

    
        @if (errorRegister) {
            <p class="error"> Error indeterminado, intente nuevamente. </p>
        }

        <button> Ya tienes cuenta? <a routerLink="/login"> Iniciar sesión </a>
        </button>
    </form>

        
      
        
</div>


